header{
    background-color: #252956;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
  }
  input{
    width: 300px;
  }
  .title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title{
    margin-top: -15px;
    font-size: 12px;
    cursor:default;
  }
  .logo{
    cursor: pointer;
  }

  li{
    list-style: none;
    cursor: pointer;
  }
li:hover{
  scale: 1.05;
  transition: all 0.5s;
}
  ul{
    display: flex;
    gap: 15px;
  }