header{
    background-color: #252956;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  input{
    width: 300px;
  }
  .title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title{
    margin-top: -15px;
    font-size: 12px;
    cursor:default;
  }
  .logo{
    cursor: pointer;
  }