*{box-sizing: border-box;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #22254b;
  background-color: #18191A;
  color: white;
}


.movie{
  width: 300px;
  margin: 1rem;
  background-color: #373b69;
  border-radius: 3px;
  box-sizing: 3px 3px 3px rgb(0,0,0,0.1);
  overflow: hidden;
  background-color: #1e1f20;
  position: relative;
}
.movie:hover .movie-over{
  transform: translateY(0%);
}

.movie img{
  max-width: 100%;
}

.movie-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}
.movie-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.movie-info h3{
  margin: 0;
}
.movie-over{
  color: #22254b;
  background-color: white;
  padding: 1rem;
  position: absolute;
  overflow: auto;
  max-height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-sizing: 0px -3px 5px rgb(0,0,0,0.1);
}
header{
  background-color: #373b69;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #18191A;
}
.root{
  display: flex;
  flex-direction: column;
}
.search{
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
  border-radius: 6px;
  font-family: inherit;
  font-size: 1rem;
  color: white;
  height: 40px;
  color:#18191A;
}
::placeholder{
  color: #18191A;
}
.search:focus{
  outline: none;
}
.swiper-container{
  width: 100%;
  height: 200px;
}
.sw-container{
  margin-top: 100px;
}
@media(max-width:768px){
  .movie-container{
    margin-top: 0px;
  }
}
.title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  margin-top: -15px;
  font-size: 12px;
  cursor:default;
}

@media(max-width:480px){
  .search{
    width: 40%;
    height: 35px;
  }
}